html{
    box-sizing: border-box;    
}
*, *::before, *::after{
    box-sizing: inherit;
}

body{
     font-family: "Roboto", sans-serif; 
     font-size: 20px;  
     font-style: normal;
     font-weight: normal;
     line-height: 35px;
     color: white;     
}

.body {
    background-color: rgb(17, 16, 28);     
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    width: 1440px;  
}

.main{
    margin: 20px auto;   
 }

.images{
    display: flex;  
    flex-direction: column;       
}

.images img {
    height: 700px;    
    border-radius: 30px;      
}

.images input {
    display: none;
}

.about{
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
    align-items:center;
}

.controls{
    display: flex;
    margin: 5px;
}

.img-label {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: solid rgb(176, 171, 214) 3px;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
    margin: 5px;    
}

.img-label:hover{
    background: rgb(113, 107, 170); 
    border: solid rgb(113, 107, 170) 3px;
}

.img-label:active{
    background: rgb(113, 107, 170); 
    border: solid rgb(113, 107, 170) 3px;
}

.img-input:checked + .img-label {
    background: rgb(113, 107, 170); 
    border: solid rgb(113, 107, 170) 3px;
}

p {
    margin: 0;
}
::-webkit-scrollbar {
    width: 0;
  }

#img1:checked ~ img:not(:nth-of-type(1)),
#img1:checked ~ .about p:not(:nth-of-type(1)),
#img2:checked ~ img:not(:nth-of-type(2)),
#img2:checked ~ .about p:not(:nth-of-type(2)),
#img3:checked ~ img:not(:nth-of-type(3)),
#img3:checked ~ .about p:not(:nth-of-type(3)),
#img4:checked ~ img:not(:nth-of-type(4)),
#img4:checked ~ .about p:not(:nth-of-type(4)),
#img5:checked ~ img:not(:nth-of-type(5)),
#img5:checked ~ .about p:not(:nth-of-type(5))  {
    display: none;
}

#img1:checked ~ img:nth-of-type(1),
#img1:checked ~ .about p:nth-of-type(1),
#img2:checked ~ img:nth-of-type(2),
#img2:checked ~ .about p:nth-of-type(2),
#img3:checked ~ img:nth-of-type(3),
#img3:checked ~ .about p:nth-of-type(3),
#img4:checked ~ img:nth-of-type(4),
#img4:checked ~ .about p:nth-of-type(4) 
#img5:checked ~ img:nth-of-type(5),
#img5:checked ~ .about p:nth-of-type(5) {
    animation: slider 1s;
}

@keyframes slider {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0%);
    }
}

@media only screen and (max-width: 620px) {   
    .body {
        width: 580px;
        overflow: hidden;
        margin: 0 auto;
    }

    .images img {
        height: 300px; 
        width: 70%;    
        margin: 0 auto;           
    }
    .about{
        flex-direction: column;
        margin-top: 20px;
    }
   
    .text {
        width: 350px;
        order: 2;        
    }
    p {        
        font-size: 15px;   
        margin-top: 10px;
    }

}